<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FF2E63" />
    <meta name="description" content="Discover a world of culinary Katalog Restaurant delights with SigmaResto" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="./favicon.ico">
    <link rel="manifest" href="app.webmanifest" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css" />
    <title>Sigma Resto</title>
  </head>

  <body>
    <skipcontent-component></skipcontent-component>
    <appbar-component></appbar-component>
    <drawer-component></drawer-component>
    <main></main>
    <footer-component></footer-component>
  </body>
</html>
