.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.search input {
    height: 40px;
    border: 2px solid #F7E987;
    border-radius: 30px;
    padding: 0 16px;
    font-size: 16px;
    background-color: #445069;
    margin-bottom: 20px;
    width: 25%;
    color: #fff;
}

.search::placeholder {
    color: #F7E987;
    opacity: 80%;
}

.content__heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-item__not__found {
    text-align: center;
    font-size: 32px;
    margin-top: 130px;
    margin-bottom: 200px;
}